/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:300,400,700");

/* Importing component files */
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/navbar.css");
@import url("components/footer.css");

/* Couleurs de base */
:root {
  --dark-gray: #23292E; /* Gris très foncé */
  --dark-blue-green: #1A2427; /* Bleu-vert très sombre */
  --light-turquoise: #7ADAC5; /* Turquoise clair */
  --dark-teal: #0A8780; /* Vert canard */
  --medium-gray: #838883; /* Gris moyen */
  --light-gray: #DFE3DE; /* Gris très clair */
}

/* General style rules for fonts and colors */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0px;
  background-color: var(--dark-gray);
  color: var(--light-gray);
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--light-turquoise)
}
a {
  color: var(--light-turquoise);
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: var(--light-gray);
  text-decoration: none;
}
.logo img {
    height: 75px; 
    margin-right: 20px; 
}



/* Styles pour l'introduction */
.intro {
  padding: 40px 20px;
  margin-top: 30px;
  background-color: #f9f9f9; 
  text-align: center;
}
.intro h2 {
  color: steelblue;
  margin-bottom: 20px;
}
.intro p {
  font-size: 18px;
  color: #333; 
}



/* Styles pour les témoignages */
.testimonials {
  padding: 40px 20px;
  background-color: #f9f9f9; 
  text-align: center;
}
.testimonials h2 {
  color: steelblue;
  margin-bottom: 20px;
}
.testimonials blockquote {
  font-style: italic;
  margin: 20px auto;
  max-width: 600px; 
  color: #555; 
}



/* Styles pour les fonctionnalités */
.row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row.reverse {
    flex-direction: row-reverse;
}
.features {
  padding: 40px 20px;
  background-color: #f9f9f9; 
  text-align: center;
}
.features h2 {
  color: steelblue;
  margin-bottom: 20px;
}
.features ul {
  list-style: none;
  padding: 0; 
}
.features li {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}
.feature-img {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 0 20px;
}
.feature-content {
    flex: 1 1 50%;
    max-width: 50%;
    padding: 0 20px;
    text-align: left;
}


/* Styles pour la section blog */
.blog {
  padding: 40px 20px;
  background-color: none; 
  text-align: center;
}
.blog h2 {
  color: steelblue;
  margin-bottom: 20px;
}
.blog ul {
  list-style: none;
  padding: 0; 
}
.blog li {
  font-size: 18px; 
  margin: 10px; 
}



/* Styles pour les formulaires de création de comptes */
.form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    margin: auto;
}
.form h2 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #004494;
}



/*Description de l'utilisation de l'écran selon la dimension disponible*/
.container {
    max-width: 90%; 
    margin: 0 auto; 
    padding: 0 20px;
}
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .row, .row.reverse {
    flex-direction: column;
  }
  .feature-img, .feature-content {
    max-width: 100%;
    flex-basis: 100%;
  }
  .feature-content {
    text-align: center;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
