.banner {
  background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/background-2.webp);   
  background-size: cover;     
  background-position: center;
  padding: 50px 20px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  align-items: center; /* Aligne verticalement le contenu */
  justify-content: space-between; /* Espace entre le logo et le texte */
  flex-direction: column;
}
.banner h1 {
  color: white;
  font-size: 50px;
}
.banner h2 {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
  margin-bottom: 40px;
}
