.btn-blue, .button-blue {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-blue:hover, .button-blue:hover {
    background-color: powderblue;
}