.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: ;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
	padding: 20px;
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px;
  background-color: gray;
  width: 100%;
  height: 400px;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease; 
}
.card:hover {
    transform: translateY(-5px); /* Légère animation de montée */
}
.card img {
  width: 150px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 20px;
}
