.footer {
  background-color: var(--dark-blue-green);
  padding: 20px ;
  margin-top: 10px;
  text-align: center; /* Centre le texte */
  border-top: 1px solid #e9ecef; /* Légende de séparation */
  color: var(--light-gray);
}

.footer .container {
  max-width: 1200px; /* Largeur maximale pour le conteneur */
  margin: 0 auto; /* Centre le conteneur */
  padding: 0 20px; /* Espacement intérieur */
}

.footer-links, .footer-contact, .footer-social {
  margin: 10px 0; /* Espacement vertical */
}

.footer a {
  color: var(--light-turquoise);
  text-decoration: none;
  margin: 0 15px; /* Espacement entre les liens */
}

.footer a:hover {
  color: var(--dark-teal); /* Couleur au survol */
}

.footer-copy {
  margin-top: 10px; /* Espacement supérieur */
  font-size: 14px; /* Taille de police réduite */
  color: #6c757d; /* Couleur du texte pour le copyright */
}